@import '../../setting';

$appbar-bg-color: rgb(49, 49, 73);

.navbar-app{
    padding: $gap;
    display: flex;
    align-items: center;
    background-color: $appbar-bg-color;
    font-size: 1.5rem;
  }