@import '../../setting';

.Card-item{
    background-color: rgb(190, 81, 81);
    padding: $gap;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgb(67, 67, 77);
    margin-bottom: 10px;
    img.card-cover{
      display: block;
      width: calc(100% + 2 * #{$gap});
      margin: -$gap 0 $gap (-$gap);
      border-radius: 5px;
    }
  }