@import '../../setting';

.board-content{
    height: $board-content-height;
    // margin: 0 $gap $gap;
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    &:after{
      content:'';
      flex: 0 0 $gap;
    }
    &::-webkit-scrollbar{
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal{
      height: 11px;
    }
    &::-webkit-scrollbar-thumb{
      background-color:$common-element-bg ;
      border-radius: 8px ;
    }

    .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
    }
    .add-new-column{
      width: 250px;
      max-width: 250px;
      height: 40px;
      line-height: 40px;
      // padding: 4px 4px 4px 15px;
      cursor: pointer;
      color:white;
      margin-left: $gap;
      font-size: 15px;
      background-color: hsla(0, 0%, 100%, .24);
      border-radius: $column-border-radius;
      &:hover{
        background-color: hsla(0, 0%, 100%, .34);
      }
      i{
        margin-right: 10px;
      }
    }
    .enter-new-column{
      width: 250px;
      max-width: 250px;
      line-height: 40px;
      background-color: $column-bg-color;
      border-radius: $column-border-radius;
      padding: 0px 8px 0px 8px;
      margin-left: $gap;
      background-color:$list-bg-color;
      input.input-enter-new-column{
        margin: 5px 0;
      }
      span.cancel-new-column{
          margin-left: $gap;
          cursor: pointer;
          i{
            font-size: 18px;
            color: rgb(133, 99, 156);
            &:hover{
              color: darken($color: rgb(133, 99, 156), $amount: 10);
            }
          }
      }
    }
  }