@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$gap:10px;
$board-bg-color: rgb(159, 159, 197);
$appbar-bg-color: rgb(49, 49, 73);
$list-bg-color: white;
$column-header-height:36px;
$column-footer-height:36px;
$column-border-radius:5px;
$common-element-bg: rgba($color: #000000, $alpha: 0.3);
$gap:10px;

//screen
$screen-lg:1201px;
$screen-md:992px;
$screen-sm:768px;
$screen-phone: 768px;
$screen-ip6-down:375px;