@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import 'setting';
@import "~bootstrap/scss/bootstrap";

body{
  margin: 0;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}
.trello-master{
  height: 100vh;
  // display: grid;
  // grid-template-rows: 40px 50px 1fr;
  overflow:hidden;
  line-height: 1.3em;
  background-color: $board-bg-color;
  color: $app-main-text-color;
  
  .icon{
    font-size: 14px;
    margin: 0 3px;
  }

  .navbar-board{
    height: $navbar-app-height;
    padding: $gap;
    display: flex;
    align-items: center;
    background-color: $board-bg-color;
    font-size: 1.1rem;
  }

  .quangtung-trello-container{
    margin: 0 15px;
    padding: 0;
  }
  textarea:focus, 
    textarea.form-control:focus, 
    input.form-control:focus, 
    input[type=text]:focus, 
    input[type=password]:focus, 
    input[type=email]:focus, 
    input[type=number]:focus, 
    [type=text].form-control:focus, 
    [type=password].form-control:focus, 
    [type=email].form-control:focus, 
    [type=tel].form-control:focus, 
    [contenteditable].form-control:focus {
      box-shadow: none;
    }
    .btn:focus, .btn:active{
      outline: none !important;
      box-shadow: none !important;
    }
    .quangtung-content-editable{
      background-color: inherit;
      border: none;
      font-size: inherit;
      font-weight: inherit;
      cursor: pointer;
      &:focus{
        border: 1px solid blueviolet;
      }
    }
}



